<ol>
    <li>Visulaize Nulls</li>
    <li>Deal with nulls
    <li>Eliminate</li>
    <li>Infer</li>
    <li>One Hot encode categorical data</li>
    <li>Join the economic conditions data to the loan data</li>
    <li>Convert zip code to location (encode location)</li>
</ol>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv("./SSBCI Transactions Dataset.csv")
df.shape

(21962, 49)

In [3]:
df.isna().sum()

state_id                             0
state_name                           0
year_reported                        0
program_name                         0
program_type                         0
unique_id                            0
disbursement_date                    0
loan_investment_amount               0
ssbci_original_funds                 0
nonprivate_amount                    0
concurrent_private_financing         0
borrower_insurance_premium           0
lender_insurance_premium             0
guaranteed_amount                    0
collateral_support                   0
ssbci_recycled_funds                 0
subsequent_private_financing         0
zip_code                             0
metro_type                           0
LMI_type                             0
revenue                              0
full_time_employees                  0
naics_code                           0
year_incorporated                    0
jobs_created                         0
jobs_retained                        0
trans_type                           0
lender_name                       1623
lender_type                       1637
lender_type_category              1677
CDFI_type                            0
MDI_type                             0
VC_cat                               0
optional_woman_owned              8696
optional_minority_owned           9000
optional_veteran_owned           12344
optional_FTE                     11286
optional_FTE_yr_confirmed        11286
optional_primary_use_of_funds    11684
optional_revenue                 12466
optional_revenue_yr_confirmed    12466
optional_active                  18482
optional_active_no               21651
optional_active_unknown          19883
optional_dollars_lost            20122
optional_business_city            8685
optional_business_state          15805
optional_coinvestment_source     21025
optional_stage                   20995
dtype: int64

In [4]:
drop_cols=df.columns[27:]

In [5]:
ssbci_drop_cols=df.drop(drop_cols, axis=1)

In [9]:
ssbci_drop_cols.to_csv('./SSBCI Drop Cols.csv')

In [7]:
ssbci_drop_cols.isna().sum()

state_id                        0
state_name                      0
year_reported                   0
program_name                    0
program_type                    0
unique_id                       0
disbursement_date               0
loan_investment_amount          0
ssbci_original_funds            0
nonprivate_amount               0
concurrent_private_financing    0
borrower_insurance_premium      0
lender_insurance_premium        0
guaranteed_amount               0
collateral_support              0
ssbci_recycled_funds            0
subsequent_private_financing    0
zip_code                        0
metro_type                      0
LMI_type                        0
revenue                         0
full_time_employees             0
naics_code                      0
year_incorporated               0
jobs_created                    0
jobs_retained                   0
trans_type                      0
dtype: int64

In [9]:
ssbci_drop_cols.dtypes

state_id                         object
state_name                       object
year_reported                     int64
program_name                     object
program_type                     object
unique_id                        object
disbursement_date                object
loan_investment_amount          float64
ssbci_original_funds            float64
nonprivate_amount               float64
concurrent_private_financing    float64
borrower_insurance_premium      float64
lender_insurance_premium        float64
guaranteed_amount               float64
collateral_support              float64
ssbci_recycled_funds            float64
subsequent_private_financing    float64
zip_code                          int64
metro_type                       object
LMI_type                         object
revenue                         float64
full_time_employees             float64
naics_code                        int64
year_incorporated                 int64
jobs_created                    float64
jobs_retained                   float64
trans_type                       object
dtype: object

In [12]:
ssbci_obj_cols = ssbci_drop_cols.select_dtypes(exclude=[np.number]).columns
ssbci_obj_cols

from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
for i in ssbci_obj_cols:
    ssbci_drop_cols[i] = label_encoder.fit_transform(ssbci_drop_cols[i])

print("Label Encoded Data: ")
ssbci_drop_cols.head()

Label Encoded Data:
Label Encoded Data:
Label Encoded Data:
Label Encoded Data:
Label Encoded Data:
Label Encoded Data:
Label Encoded Data:
Label Encoded Data:
Label Encoded Data:

,state_id,state_name,year_reported,program_name,program_type,unique_id,disbursement_date,loan_investment_amount,ssbci_original_funds,nonprivate_amount,...,zip_code,metro_type,LMI_type,revenue,full_time_employees,naics_code,year_incorporated,jobs_created,jobs_retained,trans_type
0,0,1,2013,0,4,0,639,180000.0,90000.0,0.0,...,99507,0,1,0.0,5.0,541511,2013,3.0,1.0,1
1,0,1,2013,0,4,1,1215,2400000.0,250000.0,0.0,...,99501,0,0,0.0,28.0,423930,2012,4.0,0.0,1
2,0,1,2013,0,4,2,491,265000.0,110000.0,0.0,...,99507,0,1,0.0,7.0,541511,2013,2.0,5.0,1
3,0,1,2014,0,4,3,786,199500.0,99750.0,0.0,...,99501,0,1,0.0,2.0,336612,2014,8.0,0.0,1
4,0,1,2014,0,4,4,945,125000.0,62500.0,0.0,...,99503,0,0,1494916.0,8.0,451110,2007,8.0,0.0,1

In [16]:
from sklearn.preprocessing import OneHotEncoder

onehot_encoder = OneHotEncoder(sparse=False)
onehot_encoded = onehot_encoder.fit_transform(ssbci_drop_cols[ssbci_obj_cols])

#Creating a dataframe with encoded data with new column name
onehot_encoded_frame = pd.DataFrame(onehot_encoded, columns = onehot_encoder.get_feature_names(ssbci_obj_cols))
onehot_encoded_frame.head()

,state_id_0,state_id_1,state_id_2,state_id_3,state_id_4,state_id_5,state_id_6,state_id_7,state_id_8,state_id_9,...,disbursement_date_1603,disbursement_date_1604,disbursement_date_1605,disbursement_date_1606,metro_type_0,metro_type_1,LMI_type_0,LMI_type_1,trans_type_0,trans_type_1
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0

In [18]:
ssbci_drop_cols.to_csv('SSBCI_One_Hot.csv')

In [10]:
import requests

url = "https://yfapi.net/v6/finance/quote"

querystring = {"symbols":"AAPL,BTC-USD,EURUSD=X"}

headers = {
    'x-api-key': "oriwCXz60p5s9AQI7spLk8rjseQdoM1D90Zqe2Nw"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

In [18]:
import yfinance as yf

spy = yf.download('SPY', start='2010-01-01', end = '2016-12-31')

[*********************100%***********************]  1 of 1 completed

In [19]:
spy

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,112.370003,113.389999,111.510002,113.330002,89.889206,118944600
2010-01-05,113.260002,113.680000,112.849998,113.629997,90.127182,111579900
2010-01-06,113.519997,113.989998,113.430000,113.709999,90.190636,116074400
2010-01-07,113.500000,114.330002,113.180000,114.190002,90.571327,131091100
2010-01-08,113.889999,114.620003,113.660004,114.570000,90.872749,126402800
...,...,...,...,...,...,...
2016-12-23,225.429993,225.720001,225.210007,225.710007,206.577713,36697800
2016-12-27,226.020004,226.729996,226.000000,226.270004,207.090225,42672500
2016-12-28,226.570007,226.589996,224.270004,224.399994,205.378738,64095000
2016-12-29,224.479996,224.889999,223.839996,224.350006,205.332977,48696100
2016-12-30,224.729996,224.830002,222.729996,223.529999,204.582474,108998300